@model AzmanAzWebPage.Models.Karusel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Az/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Karusel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.karusel_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.karusel_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mallar.mal_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mallar.mal_adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.karusel_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
