@model IEnumerable<AzmanAzWebPage.Models.Karusel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Az/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Karusel</h2>

<p>
    @Html.ActionLink("Əlavə et", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Şəkil
        </th>
        <th>
            Məhsul
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Yuklenen/@item.karusel_image" style="width:78%;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mallar.mal_adi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.karusel_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.karusel_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.karusel_id })
        </td>
    </tr>
}

</table>
