@model AzmanAzWebPage.Models.Endirim

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Az/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Endirim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.endirim_novu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endirim_novu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edirim_faiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edirim_faiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endirim_detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endirim_detail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.endirim_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
