@model AzmanAzWebPage.Models.Adresim

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Az/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Adresim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adres_telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres_telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres_gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres_gmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres_facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres_facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres_instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres_instagram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres_youtube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres_youtube)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres_about_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres_about_text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.adres_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
