@model IEnumerable<AzmanAzWebPage.Models.Adresim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Az/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Haqqımızda</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Telefon
        </th>
        <th>
            Gmail
        </th>
        <th>
            Facebook
        </th>
        <th>
            İnstagram
        </th>
        <th>
            Youtube
        </th>
        <th>
            İnfo
        </th>
       

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.adres_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.adres_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.adres_id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres_telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres_gmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres_facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres_instagram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres_youtube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres_about_text)
        </td>

    </tr>
}

</table>
